@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *; 

.inventoryForm{
    background-color: $global-color;
    margin: 0 1rem .3125rem;
    border-radius: .1875rem;
    box-shadow: 0 .125rem .3125rem $box-shadow;
    position:relative; 
    bottom:80px;

    @include responsive(tablet){
        margin: 0 2rem .3125rem;
    }

    @include responsive(desktop){
        margin: 0 8.125rem .3125rem;
    }

    &__main{
        @include responsive(tablet){
            display:flex; 
            margin:24px;
        }
    }

}