@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *; 

.inventoryForm{
    background-color: $global-color;
    margin:5rem 1rem .3125rem;
    border-radius: .1875rem;
    box-shadow: 0 .125rem .3125rem $box-shadow;

    @include responsive(tablet){
        margin: 5.75rem 2rem .3125rem;
    }

    @include responsive(desktop){
        margin: 5.75rem 8.125rem .3125rem;
    }

}