
// export this later

.warehouse-modal__cancel-button , .warehouse-modal__delete-button {
    width: 10rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    // grid-template-column: 1fr 1fr;
}
.warehouse-modal__container-button {
    width: 100%;
    gap: 10px; 
    justify-items: center;
    display: flex;
    justify-content: space-around;
}
.warehouse-modal__container {
    display: grid;
    // grid-template-columns: 1fr; 
    grid-template-rows: 1fr  1fr 1fr ; 
    gap: 20px;
    padding: 20px;
    position: relative;
    height: 100vh;
}
.warehouse_modal__container-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
}
.ReactModalPortal {
    .ReactModal__Overlay , .ReactModal__Overlay--after-open {
    height: 100vh;
    padding: 1rem;
    background-color: red !important;
    }
}