@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.warehouse-list__name {
    border-bottom: 1px solid $table-border-color;
    padding: 1.5rem;
    justify-content: space-between;
}

.warehouse-details {
    background-color: $global-color;
    margin: 0 1rem .3125rem;
    border-radius: .1875rem;
    box-shadow: 0 .125rem .3125rem $box-shadow;
    margin-top: -3.5rem;

    @include responsive(tablet){
        margin: -4.5rem 2rem .3125rem;
    }

    @include responsive(desktop){
        margin: -5rem 8.125rem .3125rem;
    }

    &__container {
        padding: 1.5rem;

        @include responsive (tablet) {
            display: flex;
            justify-content: space-between;
            width: 90%;
        }
    }

    &__home {
        &-name {
        display: flex;
        align-items: end;
        padding-right: .5rem;
        }
        &-icon {
        padding-right: .5rem;
        }
    }

    // &__edit-image {
    //     background-color: $interactive-color;
    // }

    &__content , &__content--contact {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 1rem;

        @include responsive (tablet) {
            margin-top: 0;
            justify-content: space-around;
            width: 50%;
            border-left: 1px solid $table-border-color;
            padding-left: 1.5rem;
        }
    }

    &__info {
        margin-top: 1rem;

        @include responsive (tablet) {
            margin-top: 0;
        }
    }

    &__label {
        @include text-style(.6875rem, 1rem, 600, normal);
        color: $table-text-color;
        text-transform: uppercase;
        margin-bottom: .25rem; 
    }

    &__text , &__text-address {
        @include text-style(.8125rem, 1.25rem, 400, normal);

        @include responsive(tablet){
            @include text-style(.875rem, 1.375rem, 400, normal);
        }
    }
    &__text-address {
        @include responsive (tablet) {
            max-width: 6rem;
        }
    }

}