$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$global-text-color: #13182C;
$interactive-color: #2E66E5;
$global-color: #FFFFFF;
$table-text-color: #5C667E;
$table-border-color: #BDC5D5;
$secondary-background-color: #232940;
$primary-background-color: #F7F8F9;
$instock-label-color: #158463;
$error-state-color: #C94515;
$hover-state: rgba(46, 102, 229, 0.07);
$box-shadow: rgba(19, 24, 44, 0.1);
$tertiary-background-color: rgba(247, 248, 249, 0.7);