$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$global-text-color: #13182c;
$interactive-color: #2e66e5;
$global-color: #ffffff;
$table-text-color: #5c667e;
$table-border-color: #bdc5d5;
$secondary-background-color: #232940;
$primary-background-color: #f7f8f9;
$instock-label-color: #158463;
$error-state-color: #c94515;
$hover-state: rgba(46, 102, 229, 0.07);
$box-shadow: rgba(19, 24, 44, 0.1);
$tertiary-background-color: rgba(247, 248, 249, 0.7);
