@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../assets/icons/arrow_drop_down-24px.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  padding-right: 20px;
  position: relative;
}

.stock {

  @include responsive(tablet) {
    width: 50%;
    border-left: 1px solid $table-border-color; 
  }

  &__container {
    padding: 24px;
    border-top: 1px solid $table-border-color; 

    @include responsive(tablet){
        padding:0 0 32px 24px; 
        border-top:none; 
    }
  }

  &__availability{
    padding-bottom:24px; 
  }

  &__label {
    padding: 16px 0 4px;
  }

  &__number {
    outline: none;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    border-radius: 20px;
    border: 1px solid $table-border-color;
  }

  &__statuses {
    display: flex;
    gap: 56px;
  }

  &__selector {
    display: flex;
    gap: 4px;
    color:$table-text-color;
    @include text-style(13px, 20px, 400);

    &--selected{
      color: $global-text-color;
    }
  }

  &__locations {
    outline: none;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    border-radius: 20px;
    border: 1px solid $table-border-color;
  }

  &__number, &__locations{
    &:focus {
      border: 1px solid $interactive-color;
    }

    &--invalid {
      border: 1px solid $error-state-color;
    }

  }
}
