@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *; 

.form{
    &__header{
        display:flex; 
        gap: 4px; 
        align-items:center; 
        padding: 24px 16px 24px;
        border-bottom: 1px solid $table-border-color;
    }

    &__img{
        height:16px; 
        display:flex;
        align-items:center;

        @include responsive(tablet){
            height:20px;
        }
    }
}

