@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *; 

.form{
    &__header{
        display:flex; 
        gap: 4px; 
        align-items:center; 
        padding: 1.5rem;
        border-bottom: 1px solid $table-border-color;
        @include responsive (tablet){
            padding:1.5rem 2rem;
        }
    }

    &__img{
        height:20px; 
        display:flex;
        align-items:center;
    }
}

