@use "/src/styles/partials/_global.scss" as *;
@use "/src/styles/partials/_mixins.scss" as *;
@use "/src/styles/partials/_variables.scss" as *;


.modal {
    &__title {
    padding-bottom: 1rem;
    @include responsive (tablet) {
        margin-top: -1rem;
    }
    }

    &__container {
        background-color: $global-color;
        height: 100vh;
        display: flex;
        flex-direction: column;
        outline: none;
        flex-grow: 1;
        @include responsive (tablet) {
            height: 16.375rem;
            background-color: $global-color;
            margin: 10.5rem 2rem 0 2rem;
            padding: 1rem 1rem 1rem 3.5rem;
        }
        @include responsive (desktop) {
            margin: 10.5rem 22% 0 22%;
        }

        &-text {
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            text-align: left; 
            margin-top: 10%;
            @include responsive (tablet) {
                margin-top: 1rem;
                width: 90%;
            }
            @include responsive (desktop) {
                width: 80%;
            }
          }

        &-button {
            width: 100%;
            display: flex;
            justify-content: space-around;
            gap: 1rem;
            padding: 2rem 0;
            @include responsive (tablet) {
                width: 85%;
                justify-content: flex-end;
            }
        }
        
        &-close-button  {
            display: flex;
            justify-content: end;
            cursor: pointer;
        }
    }

    &__cancel-button , 
    &__delete-button {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.25rem;
    height: 2.75rem;
    @include responsive (tablet) {
        width: 13%;
        }
    }

    &__cancel-button {
    background-color: $global-color;
    border: 1px solid $table-border-color;
    &:hover {
        border: 0.0625rem solid $interactive-color;
      }
    }

    &__delete-button {
    background-color: $error-state-color;
    border:none;
    color: $global-color;
    &:hover {
        background-color: $secondary-background-color;
      }
    }
}

.ReactModal__Overlay--after-open {
    height: 100vh;
    padding: 1rem;
    background-color: $global-color !important;
    @include responsive (tablet) {
        background-color: rgba(0, 0, 0, 0.5) !important; 

    }
}
