@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

input,
textarea,
option {
  @include text-style(11px, 16px, 400);
  @include responsive(tablet) {
    @include text-style(13px, 20px, 400);
  }
}

.details {
  padding: 16px;
  @include responsive(tablet) {
    width: 50%;
  }

  &__label {
    padding: 16px 0 4px;
  }

  &__name,
  &__category {
    height: 36px;
    padding: 0 16px;
    border-radius: 20px;
  }

  &__description {
    resize: none;
    border-radius: 12px;
    height: 80px;
  }

  &__name,
  &__category,
  &__description {
    outline: none;
    width: 100%;
    border: 1px solid $table-border-color;

    &:focus {
      border: 1px solid $interactive-color;
    }

    &--invalid {
      border: 1px solid $error-state-color;
    }

    &__header {
      padding-bottom: 4px;
    }
  }
}
