@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-form {
  background-color: $global-color;
  margin: 0 1rem 0.3125rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem $box-shadow;
  margin-top: -3.5rem;

    @include responsive(tablet){
        margin: 0 2rem .3125rem;
        margin-top: -6rem;
    }

  @include responsive(desktop) {
    margin: 0 8.125rem 0.3125rem;
    margin-top: -6rem;
  }
}
