@use "../../styles/partials/mixins" as*;
@use"../../styles/partials/variables" as*; 

.error{
    display:flex; 
    gap:4px;

    &__text{
        @include text-style(0.6875rem,1rem,400); 
        padding-top:4px;
        color:$error-state-color; 
    }

    &__img{
        height:13px; 
    }
}