@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.error {
  display: flex;
  align-items: center;
  gap: 0.125rem;

  &__text {
    @include text-style(0.8125rem, 1.25rem, 400);
    color: $error-state-color;
  }

  &__img {
    height: 15px;
    margin: 0.25rem;
  }
}
