@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.error {
  display: flex;
  gap: 0.125rem;

  &__text {
    @include text-style(0.6875rem, 1rem, 400);
    padding-top: 0.25rem;
    color: $error-state-color;
  }

  &__img {
    height: 0.8125rem;
    margin: 0.25rem;
  }
}
